<div class="grid-overlay visible" id="grid-overlay">
	<div class="grid-overlay-baseline"></div>
	<div class="grid-overlay-columns">
		<div></div><div></div><div></div><div></div>
		<div></div><div></div><div></div><div></div>
		<div></div><div></div><div></div><div></div>
	</div>
</div>
<!-- <script>
document.addEventListener('keydown', function(e) {
	if (e.ctrlKey && e.key === 'g') {
		e.preventDefault();
		document.getElementById('grid-overlay').classList.toggle('visible');
	}
});
</script> -->

<div class="footer wrapper">
	<nav class="nav">
		<div>&copy {{ default 2024 .Date.Year}}  {{ with .Site.Copyright }} {{ . | safeHTML }} {{ end }} Muthukrishnan</div>
		<div>Contact: muthukrishnan.t [at] hotmail [dot] com</div>
	</nav>
</div>

{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}

{{ if .Store.Get "hasMermaid" }}
{{ $jsUrl:= default "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs" .Site.Params.mermaidCDN }}
<script type="module">
	import mermaid from {{ $jsUrl }};

	mermaid.initialize({
		startOnLoad: true,
		theme: 'default',
		handDrawn: true
	});

	const applyTheme = () => {
		const newTheme = 'default';
		mermaid.initialize({
			startOnLoad: true,
			theme: newTheme,
			handDrawn: true
		});
	};

	window.addEventListener('storage', (event) => {
		if (event.key === 'scheme') {
			applyTheme();
		}
	});

	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', applyTheme);
</script>
{{ end }}
